    <%= form_for(@message, html: {class: "form-horizontal"}) do |f| %>

      <% if @message.errors.present? %>
        <div class="alert alert-danger">
          <%= alert %>
          <ul>
            <% @message.errors.full_messages.each do |full_message| %>
              <li>
                <%= full_message %>
              </li>
            <% end %> 
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <label for="message_name" class="col-sm-2 control-label">お名前　<span class="label label-danger">必須</span></label>
        <div class="col-sm-10">
            <%= f.text_field :name, :placeholder => "お名前(20文字以下)", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label for="message_age" class="col-sm-2 control-label">年齢</label>
        <div class="col-sm-10">
            <%= f.text_field :age, :placeholder => "年齢(半角数字)", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label for="message_body" class="col-sm-2 control-label">メッセージ　<span class="label label-danger">必須</span></label>
        <div class="col-sm-10">
          <%= f.text_area :body, :placeholder => "2文字以上、30文字以下でメッセージを入力しましょう", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit :"投稿する", class: "btn btn-primary" %>
        </div>
      </div>

    <% end %>