<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>

  <div class="panel-body">

    <% @messages.each do |message| %>
    <blockquote>
      <p><%= message.body %></p>
      <footer>
        <%= message.name %>
        <% #年齢の値が存在する場合だけ表示 %>
        <% if message.try(:age) %>
          (<%= message.age %>歳)
        <% end %>
        <div class="btn-group btn-group-xs" role="group" aria-label="...">
          <%= link_to edit_message_path(message), class: "btn btn-default" do %>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <% end %>
          <%= link_to message, method: :delete, data: { confirm: '削除してもよろしいですか？' }, class: "btn btn-default" do %>
            <i class="fa fa-close" aria-hidden="true"></i>
          <% end %>
        </div>
      </footer>
    </blockquote>
    <% end %>

  </div><!--panel-body-->

  <div class="panel-footer">
    <% #部分テンプレートを読み込んでいる %>
    <%= render 'form' %>
  </div><!--panel-footer-->

</div>

